

@image: 'http://192.168.3.4/mobile-static';


@air-primary-color: #ff9168;


@air-font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

